html, body {
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #e0f2ff, #a0c3f2);
    background-attachment: fixed;
    flex-direction: column;
    min-height: 100vh;
}

body {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.titolo {
    font-size: 50px;
    font-weight: normal;
    color: black;
    margin-bottom: 30px;
    text-align: center;
}

#content-box {
    display: flex;
    flex-wrap: wrap; /*se spazio piccolo, elementi vanno a capo*/
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

#content-box h1{
    font-size: 53px;
    font-weight: normal;
    color: black;
    margin-bottom: 5px;
}

#content-box h2{
    font-size: 32px;
    font-weight: normal;
    color: black;
    margin-bottom: 20px;
    margin-top: 0;
}

#text-content {
    flex: 1 1 500px;
    min-width: 300px;
}

p{
    line-height: 1.6;
    font-size: 17px;
}

#image-content {
    flex: 0 1 300px;
    display: flex;
    justify-content: center;
}

#image-content img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 10px;
}

.button {
    text-decoration: none;
    color: white; 
    background-color: #007bff; 
    padding: 12px 25px; 
    border-radius: 10px;
    border: none;
    font-weight: bold; 
    margin-top: 5px; 
    display: inline-block;
}

.button:hover {
    background-color: #0056b3; 
}

#competenze{
    font-size: 30px;
    text-align: center;
    margin: 0;
}

#competenze-lista {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 10px 20px;
}

.competenza {
    background: #e0f2ff;
    border-radius: 10px;
    padding: 20px 30px;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    color: #0c337c;
}

.icona-comp {
    font-size: 32px;
    display: block;
    margin-bottom: 8px;
}

.descrizione-comp {
    font-size: 17px;
    font-weight: normal;
    margin-top: 8px;
    color: black;
}

.progetti {
    margin: 20px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}

.progetti h2{
    text-align: center;
}

 .mockup {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    border-radius: 10px;
}

.progetto {
    padding: 0 30px;
}

footer {
    background-color: #0c337c; 
    color: #fff; 
    padding: 1px 0;
    text-align: center;
    margin-top: auto;
}

#contatti{

}

.lista-contatti {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#email{
    list-style-image: url(imm/gmail-icon-free-png.webp);
}

#telefono{
    list-style-image: url(imm/telefono.webp);
}

#linkedin{
    list-style-image: url(imm/linkedin.webp);
}